main {
    .heading {
        padding: 1em;
        background-color: bisque;
        h2 {
            text-align: center;
        }
    }
    .users-list-wrapper {
        display: flex;
        gap: 2em;
        flex-wrap: wrap;
        max-width: 50vw;
        margin: 0 auto;
        background: whitesmoke;
        overflow-y: scroll;
        padding: .5em 1em;
        .card {
            flex: 0 1 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: .5em .5em;
            border-radius: .7em;
            background-color: darkgoldenrod;
            .card-top {
                text-align: center;
                position: relative;
                img {
                    max-width: 30%;
                    height: auto;
                }
                svg {
                    max-width: 2em;
                    max-height: 2em;
                    position: absolute;
                    right: 0;
                    top: 0;
                    cursor: pointer;
                    transition: ease-in-out 200ms;
                }
                svg:hover {
                    fill: azure;
                }
            }
            .card-bottom {
                display: flex;
                width: 75%;
                padding: 0.3em 0.5em;
                justify-content: center;
                gap: 0.5em;
                border-radius: 0.5em;
                cursor: pointer;
                transition: ease-in-out 200ms;
                svg {
                    max-width: 1.5em;
                    max-height: 1.5em;
                }
            }
            .card-bottom:hover {
                background-color: white;
            }
            .user-info {
                flex-direction: column;
                gap: 0.7em;
            }
        }
    }
}